/* 引入阿里巴巴图标库 */
@import "//at.alicdn.com/t/font_2070191_1b644d30g6w.css";

body{
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    margin: 0;
    padding: 0;
}

.clearfix::before,
.clearfix::after{
    display: table;
    content: '';
    clear: both;
}

a{
    text-decoration: none;
    color:white;
}

a:hover{
    color: blue;
}

.el-table{
  width: 98%;
  margin: 0 auto;
}

.el-form{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 20px;
}

.el-form--inline .el-form-item{
    display: block;
}

.el-form-item{
    margin: 10px 0;
}

.page{
    margin-left: 15px;
    height: 60px;
}

.page>div{
    position: relative;
    top: 20px;
}